.direction-container {
  display: flex;
  margin-bottom: 30px;
}
.direction-box {
  padding: 7px;
}
.direction-box input {
  margin-left: 5px;
}
.product-box :hover {
  cursor: pointer;
}
.product-box.vertical {
  border-radius: 15px;
  border: 1px solid #cbc1c1b3;
  height: 410px;
  padding: 0;
  width: 300px;
  margin: 0 10px 30px;
}

.product-box {
  width: 29%;
  min-width: 244px;
  height: 410px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
}
@media (min-width: 1001px) {
  .product-box {
    width: 23.5%;
    min-width: 250px;
  }
}
@media (max-width: 1100px) {
  .product-box {
    width: 30%;
    min-width: 288px;
  }
}
@media (max-width: 640px) {
  .product-box {
    width: 48% !important;
    min-width: 288px;
  }
}

.product-box .card-image {
  width: 100%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -20px;
  overflow: hidden;
  border-radius: 8px;
}

.product-box .card-body {
  padding: 0px 10px;
}

.product-box .card-body h3 {
  font-weight: 600;
  margin: 0;
  text-align: center;
}

.product-box .card-body .card-text {
  font-size: 14px;
  height: 80px;
  overflow: hidden;
  --max-lines: 4;
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--max-lines);
}

.product-box.horizontal {
  width: 100%;
  display: flex;
  border-radius: 15px;
  border: 1px solid #cbc1c1b3;
  height: 200px;
  padding: 0;
  margin: 20px 0;
}
.product-box.horizontal .card-image {
  height: 100%;
  width: 220px;
}
